<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="'ID:' + ${user.getId()}"></p>
<p th:text="'Name:' + ${user.getName()}"></p>
<p th:text="'Surname:' + ${user.getSurname()}"></p>
<p th:text="'Age:' + ${user.getAge()}"></p>
<p th:text="'E-mail:' + ${user.getEmail()}"></p>
<a th:href="@{/users/update(id=${user.getId()})}">Update</a>
<form th:method="POST" th:action="@{/users/delete(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>